h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.wrapper {
  max-width: 85rem;
  margin: 0 auto;
  padding: 1em 2em;
}

h1 {
  color: blue;
}

.loader {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5em 0 25em 0;
}