h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

body {
  background: rgba(35, 94, 111, 0.2);
}

.wrapper {
  max-width: 85rem;
  margin: 0 auto;
}

header > h1.page-title {
  color: #0F8A5F;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Mountains of Christmas', cursive;
  text-align: center;
  font-size: 3em;
}

.loader {
  max-width: 50rem;
  margin: 0 auto;
  padding: 5em 0 25em 0;
}