@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather:400,400i,700&display=swap&subset=cyrillic');

html {
    box-sizing: border-box;
    font: 12px/1.5 sans-serif;
}

@media ( min-width: 500px ) {
    html { font-size: 14px; }
}

@media (min-width: 700px) {
    html { font-size: 16px }
}

@media ( min-width: 1600px ) {
    html { font-size: 18px; }
}

body, table, form, select, option, input, textarea {
    font: inherit;
    background: #FFF;
    color: rgb(230, 230, 230);
}

.site-title,
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin-bottom: 0.4em;
    font-weight: normal;
    font-family: serif;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a {
    text-decoration: none;
    color: #000;
}

p, ul, ol {
    padding-bottom: 1.3em;
}

ul, ol {
    padding-left: 2.5em;
}

ul ul, ol ul, ul ol, ol ol {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

ol > li > ol > li {
    list-style-type: lower-roman;
}

blockquote {
    padding: 1rem;
}

blockquote .author {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

blockquote .author:before {
    display: inline-block;
    content: '\2014';
    padding-right: 0.5em;
}