.media {
    display: block;
    overflow: hidden;
    position: relative;
}

.media span,
.media img,
.media a {
    display: block;
}

.media::before {
    display: block;
    content: '';
    padding-top: 65.25%;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.media > span {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.media > span::before {
    display: block;
    content: '';
    background: rgba(0,0,0,0.0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.media .add-btn,
.media .remove-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    opacity: 0;
    text-align: center;
    border-radius: 0.3em;
    padding: 0.4em 0.5em;
}

.media .add-btn {
    background-color: #34A65F;
    border: 3px solid #34A65F;
}

.media .remove-btn {
    background-color: #D8000C;
    border: 3px solid #D8000C;
    display: none;
}

.media .add-btn:hover {
    color: #34A65F;
    background-color: #FFF;
}

.media .remove-btn:hover {
    color: #D8000C;
    background-color: #FFF;
}

.media > span:hover {
    cursor: pointer;
}

.media > span:hover img {
    position: relative;
    z-index: 1;
}

.media > span:hover::before {
    background: rgba(0,0,0,0.8);
    z-index: 2;
}

.media > span:hover .add-btn,
.media > span:hover .remove-btn {
    opacity: 1;
    z-index: 3;
}

.media > span:hover img {
    transform: scale(1.2);
}

.media img {
    height: auto;
    width: 100%;

    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

/* Transitions */
.media > span::before {
    transition: background 0.2s ease-in;
}

.media > span img {
    transition: transform 0.2s ease-in;
}

.media > span .add-btn,
.media > span .remove-btn {
    transition: all 0.2s ease-in;
}